<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389395909933-vos5647sat8rlavb0rvno66kt4ab80hu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389395909933-vos5647sat8rlavb0rvno66kt4ab80hu</string>
	<key>API_KEY</key>
	<string>AIzaSyAMHhZEbtOUW_E_XsX6tCPvJrcfgHp6ajQ</string>
	<key>GCM_SENDER_ID</key>
	<string>389395909933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.igorpsf.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-67200</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-67200.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389395909933:ios:f5cdd01309725b18a317a4</string>
</dict>
</plist>